.beliefCard {
    margin-bottom: 5px;
}

.beliefCard .trueTitle {
    color: var(--true-col)
}

.beliefCard .falseTitle {
    color: var(--false-col)
}

.beliefCard .unsureTitle {
    color: var(--unsure-col)
}

.beliefCardHeaderContent {
    margin-bottom: 0px;
}

#beliefCardHeaderTimeDisplay {
    color: rgb(150, 149, 149);
    font-weight: 300;
}

.beliefCardExtraContent {
    display: inline-flex;
}

.beliefCardExtraBtn {
    margin-right: 5px;
    margin-left: 5px;
}