@import './Popup.css';

.beliefDisplay {
    padding: 10px;
}

.backBtn {
    cursor: pointer;
    padding: 5px;
}

.beliefCard {
    margin-bottom: 5px;
}

.beliefCard .trueTitle {
    color: var(--true-col)
}

.beliefCard .falseTitle {
    color: var(--false-col)
}

.beliefCard .unsureTitle {
    color: var(--unsure-col)
}