.beliefDetailContainer
.headerContainer.true {
    background: var(--true-col);
}

.beliefDetailContainer
.headerContainer.false {
    background: var(--false-col);
}

.beliefDetailContainer
.headerContainer.unsure {
    background: var(--unsure-col);
}

.beliefDetailContainer
.headerContainer
.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.beliefDetailContainer
.headerContainer
.header
.backBtn {
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.beliefDetailContainer
.headerContainer
.header
.text {
    font-size: 24px;
    margin: 0px;
    color: white;
}

.beliefDetailContainer
.headerContainer
.header
.buttons {
    display: flex;
    height: fit-content;
}

.beliefDetailContainer
.body {
    margin-top: 5px;
    padding: 10px;
}

.beliefDetailContainer
.body
.sourceLinks {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.beliefDetailContainer
.body
.sourceLinks
.deleteBtn {
    margin-top: auto;
    margin-bottom: auto;
    color: #f50;
    font-size: large;
}

.beliefDetailContainer
.body
.timeDisplay {
    color: var(--tertiary-col);
    padding: 10px;
}

.beliefDetailContainer
.body
.timeSpan {
    display: flex;
    margin-bottom: 5px;
}

.beliefDetailContainer
.body
.timeSpan
.timeText {
    margin: 0px 8px 0px 0px;
}

.beliefDetailContainer
.body
.timeDisplay
.timeSpan
.timeText {
    font-style: italic;
}