.beliefCard {
    margin-bottom: 5px;
}

.beliefCard .trueTitle {
    color: var(--true-col)
}

.beliefCard .falseTitle {
    color: var(--false-col)
}

.beliefCard .unsureTitle {
    color: var(--unsure-col)
}

.beliefCardHeaderContainer {
    display: flex;
}

.beliefCardHeaderContent {
    margin-bottom: 0px;
}

#beliefCardHeaderTimeDisplay {
    color: var(--tertiary-col);
    font-weight: 300;
}

.beliefCardExtraContent {
    display: inline-flex;
}

.beliefCardExtraBtn {
    margin-right: 5px;
    margin-left: 5px;
}

.customBtn.staleBeliefBtn {
    line-height: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    margin-left: 5px;
    font-weight: 500;
    font-size: 12px;
}