.contentHeader {
    background-color: var(--primary-col);
    justify-content: space-between;
    display: flex;
    padding: 0px 15px;
    margin-bottom: 5px;
}

.contentHeader
.title {
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 34px;
    margin-left: 5px;
}

.contentHeader
.contribute {
    margin: auto 0px;
}

.contentWrapper {
    padding: 5px;
}

.contentNavBtn {
    margin-top: 8px;
    text-align: center;
}

.claimSelection
#content {
    margin-bottom: 10px;
}

.claimSelection
.beliefSelection {
    margin-right: 5px;
}