.notifBanner {
    color: white;
    background: var(--primary-col);
    cursor: pointer;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    display: flex;
}

.notifBanner:hover {
    background: var(--primary-col-dark)
}

#notifBannerText {
    margin-bottom: 0px;
}

.notifBannerBadge {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#notifBannerArrow {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
}