:root {
    --primary-col: #1FB6FF;
    --primary-col-dark: #009EEB;
    --true-col: rgb(19, 202, 101);
    --true-col-dark:  rgb(17, 167, 84);
    --false-col: rgb(218, 82, 41);
    --false-col-dark: rgb(189, 71, 36);
    --unsure-col: rgb(230, 213, 68);
    --unsure-col-dark: rgb(207, 193, 62);
    --tertiary-col: rgb(150, 149, 149);
    --shadow-col: rgba(31, 45, 61, .15)
}

html {
    height: fit-content;
}